* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cont {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#addForm {
  display: flex;
  gap: 5px;
}

#inputValue {
  width: 230px;
  height: 35px;
  padding: 5px;
}

#submit {
  width: 70px;
  height: 35px;
  border: none;
  background-color: rgb(34, 180, 34);
  color: #fff;
}

.todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  padding: 10px;
}

.deleteBtn {
  width: 100px;
  padding: 5px;
  background-color: rgb(214, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.todoFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}